.menu {
    height: 50px;
}

.create {

}

.control-panel {
    position: relative;
    visibility: hidden;
}

.time {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.aka {
    position: absolute;
    left: 0;
}

.ao {
    position: absolute;
    right: 0;
}


#reset {
    position: absolute;
    left: 40%;
    transform: translateX(-50%);
    top: 150px;
}

